/* Taken from the Org mode Worg project. */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

@media all
{
    html {
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        width: 1000px;
        max-width: 100%;
        font-size: 1em;
        line-height: 1.5em;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: justify;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1000px){
        body {
            margin-top: 0em;
            margin-bottom: 0em;
            padding: 0em 0em 0em 0em;
            border: none;
        }
    }

    body #content {
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        padding: 0 1.5em 1.5em 1.5em;
        border: 1px solid #ddd;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1000px){
        body #content {
            padding: 0em 1em 1em 1em;
            border: none;
        }
    }

    /* Naviation bar at the top. */
    body .nav {
        font-size: 1em;
        text-align: center;
        /* width: 1000px; */
        /* max-width: 100%; */
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        border: 1px solid #ddd;
        border-bottom-style: none;
        padding: 0.5em 1.5em 0.5em 1.5em;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1000px){
        body .nav {
            padding: 0.5em 1em 0.5em 1em;
            border: none;
        }
    }

    body .nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    body .nav ul li {
        display: inline-block;
        margin: 0;
    }

    body .nav ul li a {
        font-size: 1em;
        line-height: 2em;
        display: inline-block;
        padding: 0 20px;
        font-weight: normal;
        color: #666666;
    }

    /* Table of contents. */
    #table-of-contents {
        position: fixed;
        right: 0px;
        top: 0px;
        background: #ffffff;
        text-align: right;
        float: right;
        border: 1px solid #ccc;
        max-width: 50%;
        max-height: 80%;
        margin: 0.5em;
        padding: 0.5em;
        overflow: auto;
        z-index: 1000;
    }

    #table-of-contents h2 {
        font-family:sans;
        font-size: 1em;
        max-width: 9em;
        border: none;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.05em;
        padding-bottom: 0.05em;
    }

    #table-of-contents #text-table-of-contents {
        font-size: 0.8em;
        display: none;
        line-height: 1em;
        text-align: left;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        margin-top: -1.5em;
    }

    /* Do not display TOC when screen is small. */
    @media screen and (max-width: 800px){
        #table-of-contents {
            display: none;
        }
    }

    b {
        font-weight: bold;
    }

    h1 {
        font-family:sans;
        font-size:2em;
        line-height:2em;
        /* color: #336699; */
        text-align: center;
        color: black;
        margin: 0em -5px 0em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    h2 {
        font-family:sans;
        font-size:1.45em;
        /* color: #336699; */
        color: black;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-2 {
    }

    h3 {
        font-family:sans;
        font-size:1.3em;
        /* color: #336699; */
        color: black;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-3 {
    }

    h4 {
        font-family:sans;
        font-size:1.1em;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-4 {
    }

    h5 {
        font-family:sans;
        font-size:1em;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-4 {
    }

    a {
        text-decoration: none;
        font-weight: normal;
    }

    a:link {
        color: #336699;
    }

    a:visited {
        text-decoration: none;
        font-weight: normal;
        color: #003366;
    }

    a:hover {
        text-decoration: underline;
        color: #003366;
    }

    a:active {
        color: #001122;
    }

    .todo {
        color: #ca0000;
    }

    .done {
        color: #006666;
    }

    /* .timestamp-kwd { */
    /*     color: #444; */
    /* } */

    .timestamp {
        font-family: monospace;
        /* font-weight: bold; */
        color: #666666;
        line-height: 1.3em;
        background-color: #eeeeee;
        border: 0px solid;
        border-color: #aaaaaa;
        padding: 2px 3px 0px 3px;
        margin: 0px 0px 0px 0px;
        word-spacing: 0.5ch;
        text-justify: none;
        display: inline-block;
    }

    .tag {
    }

    /* List item. */
    li {
        margin: .4em;
    }

    table {
        border: 2px none;
        border-style: solid none solid none;
        border-collapse: separate;
        margin: 1em auto 1em auto;
        padding: 0.1em 0.5em 0.1em 0.5em;
    }

    /* Standard cell in an HTML table. */
    td {
        border: none;
        padding: 0.1em 0.5em 0.1em 0.5em;
    }

    /* Header cell in an HTML table. */
    th {
        border: 0px none;
        border-bottom: 1px solid;
        padding: 0.1em 0.5em 0.1em 0.5em;
    }

    tr:hover {background-color: #f5f5f5}

    code {
        /* Put code into inline box so that it does not get justified. */
        font-size: 1em;
        font-family: monospace;
        /* font-weight: bold; */
        color: #336699;
        line-height: 1.3em;
        background-color: #eeeeee;
        border: 0px solid;
        border-color: #aaaaaa;
        padding: 2px 3px 0px 3px;
        /* padding: 2px 2px 0px 2px; */
        margin: 0px 0px 0px 0px;
        word-spacing: 0.5ch;
        text-justify: none;
        display: inline-block;
    }

    img {
        border: none;
    }

    .share img {
        opacity: .4;
        filter: alpha(opacity=40);
    }

    .share img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    pre {
        font-family: Droid Sans Mono, Monospace, Courier;
        /* color: black; */
        color: #dcdccc;
        font-size: 1em;
        border: none;
        overflow: auto;
        border: 1px solid #dddddd;
        /* background-color: #eeeeee; */
        background-color: #3f3f3f;
        padding: 0.5em 1em 0.5em 1em;
        margin: 1em 0em 1em 0em;
    }

    /* Postamble. */
    #postamble {
        width: 1000px;
        max-width: 90%;
        margin-top: 0.5em;
        margin-right: auto;
        margin-bottom: 0.5em;
        margin-left: auto;
        text-align: center;
        padding: 0 1.5em 1.5em 1.5em;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1000px){
        #postamble {
            padding: 0em 1em 0em 1em;
        }
    }

    #postamble p {
        line-height: 1.5;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: 0.9em;
        color: #444444;
    }

    .theorem {
        font-style: italic;
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #ddd;
        background-color: #eeeeee;
    }

    /* #org-div-home-and-up{ */
    /*     position: fixed; */
    /*     right: 0; */
    /*     top: 4em; */
    /* } */

}
