/* Taken from the Org mode Worg project. */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Droid+Sans|Droid+Sans+Mono);

@media all
{
    html {
        margin: 0px;
        font: 250 1em/1.5em "Droid Serif", "Droid Sans", serif;
    }

    body {
        width: 1024px;
        max-width: 100%;
        font-size: 1em;
        line-height: 1.5em;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: justify;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1024px){
        body {
            margin-top: 0em;
            margin-bottom: 0em;
            padding: 0em 0em 0em 0em;
            border: none;
        }
    }

    body #content {
        margin-left: auto;
        margin-right: auto;
        background: #fbfbfb;
        padding: 0 1.5em 1.5em 1.5em;
        border: 1px solid #ddd;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1024px){
        body #content {
            padding: 0em 1em 1em 1em;
            border: none;
        }
    }

    body .title {
        text-align: left;
    }

    /* Naviation bar at the top. */
    body .nav {
        font-size: 1em;
        text-align: center;
        /* width: 1024px; */
        /* max-width: 100%; */
        margin-left: auto;
        margin-right: auto;
        background: #fbfbfb;
        border: 1px solid #ddd;
        border-bottom-style: none;
        padding: 0.5em 1.5em 0.5em 1.5em;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1024px){
        body .nav {
            padding: 0.5em 1em 0.5em 1em;
            border: none;
        }
    }

    body .nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    body .nav ul li {
        display: inline-block;
        margin: 0;
    }

    body .nav ul li a {
        font-size: 1em;
        line-height: 2em;
        display: inline-block;
        padding: 0 20px;
        font-weight: normal;
        color: #666666;
    }

    /* Table of contents. */
    #table-of-contents {
        position: fixed;
        right: 0px;
        top: 0px;
        background: #fbfbfb;
        text-align: right;
        float: right;
        border: 1px solid #ccc;
        max-width: 50%;
        max-height: 80%;
        margin: 0.5em;
        padding: 0.5em;
        overflow: auto;
        z-index: 1000;
    }

    #table-of-contents h2 {
        font-family:sans;
        font-size:1.45em;
        max-width: 9em;
        border: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.05em;
        padding-bottom: 0.05em;
    }

    #table-of-contents #text-table-of-contents {
        display: none;
        text-align: left;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        margin-top: -1.5em;
    }

    /* Do not display TOC when screen is small. */
    @media screen and (max-width: 1024px){
        #table-of-contents {
            display: none;
        }
    }

    b {
        font-weight: bold;
    }

    h1 {
        font-family:sans;
        font-size:2.1em;
        line-height:2.1em;
        /* color: #336699; */
        color: #333333;
        margin: 0em -5px 0em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    h2 {
        font-family:sans;
        font-size:1.45em;
        /* color: #336699; */
        color: #333333;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-2 {
    }

    h3 {
        font-family:sans;
        font-size:1.3em;
        /* color: #336699; */
        color: #333333;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-3 {
    }

    h4 {
        font-family:sans;
        font-size:1.1em;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-4 {
    }

    h5 {
        font-family:sans;
        font-size:1em;
        margin: 1em -5px 1em -5px;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .outline-text-4 {
    }

    a {
        text-decoration: none;
        font-weight: normal;
    }

    a:link {
        color: #336699;
    }

    a:visited {
        text-decoration: none;
        font-weight: normal;
        color: #003366;
    }

    a:hover {
        text-decoration: underline;
        color: #003366;
    }

    a:active {
        color: #001122;
    }

    .todo {
        color: #ca0000;
    }

    .done {
        color: #006666;
    }

    .timestamp-kwd {
        color: #444;
    }

    .timestamp {
        /* Put timestamp into inline box so that it does not get justified. */
        font-family: monospace;
        font-weight: bold;
        color: #666666;
        line-height: 1.3em;
        background-color: #eeeeee;
        border: 1px solid;
        /* border: 1px dotted; */
        border-color: #aaaaaa;
        padding: 2px 3px 0px 3px;
        margin: 0px 0px 0px 0px;
        word-spacing: 0.5ch;
        text-justify: none;
        display: inline-block;
    }

    .tag {
    }

    /* List item. */
    li {
        margin: .4em;
    }

    table {
        border: none;
        margin: 1em auto 1em auto;
    }

    /* Standard cell in an HTML table. */
    td {
        border: none;
    }

    /* Header cell in an HTML table. */
    th {
        border: none;
    }

    code {
        /* Put code into inline box so that it does not get justified. */
        font-size: 1em;
        font-family: monospace;
        font-weight: bold;
        color: #336699;
        line-height: 1.3em;
        background-color: #eeeeee;
        border: 1px solid;
        border-color: #aaaaaa;
        padding: 2px 3px 0px 3px;
        /* padding: 2px 2px 0px 2px; */
        margin: 0px 0px 0px 0px;
        word-spacing: 0.5ch;
        text-justify: none;
        display: inline-block;
    }

    img {
        border: none;
    }

    .share img {
        opacity: .4;
        filter: alpha(opacity=40);
    }

    .share img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    pre {
        font-family: Droid Sans Mono, Monospace, Courier;
        color: black;
        font-size: 0.9em;
        border: none;
        overflow: auto;
        border: 1px solid #dddddd;
        background-color: #eeeeee;
        padding: 0.5em 1em 0.5em 1em;
        margin: 1em 0em 1em 0em;
    }

    /* pre.src { */
    /*     padding: 0.5em 1em 0.5em 1em; */
    /*     margin: 0; */
    /* } */

    /* .org-src-container { */
    /*     overflow: auto; */
    /*     border: 1px solid #dddddd; */
    /*     background-color: #eeeeee; */
    /*     margin: 1em 0em 1em 0em; */
    /* } */

    /* pre.example { */
    /*     overflow: auto; */
    /*     border: 1px solid #dddddd; */
    /*     background-color: #eeeeee; */
    /*     margin: 1em 0em 1em 0em;         */
    /* } */

    /* Postamble. */
    #postamble {
        width: 1024px;
        max-width: 90%;
        margin-top: 0.5em;
        margin-right: auto;
        margin-bottom: 0.5em;
        margin-left: auto;
        text-align: center;
        padding: 0 1.5em 1.5em 1.5em;
    }
    /* No margins and no padding if the screen is small. */
    @media screen and (max-width: 1024px){
        #postamble {
            padding: 0em 1em 0em 1em;
        }
    }

    #postamble p {
        line-height: 1.5;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: 0.9em;
        color: #444444;
    }

    .theorem {
        font-style: italic;
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #ddd;
        background-color: #eeeeee;
    }

    /* ------------------------------------------------------------ */
    /* ------------------------------------------------------------ */
    /* ============================ */
    /* Stuff that might be removed. */
    #org-div-home-and-up{
        position: fixed;
        right: 0;
        top: 4em;
    }

    /* #license { */
    /*     /\* padding: .3em; *\/ */
    /*     /\* border: 1px solid gray; *\/ */
    /*     background-color: #eeeeee; */
    /* } */

    /* .org-info-box { */
    /*     clear:both; */
    /*     margin-left:auto; */
    /*     margin-right:auto; */
    /*     padding:0.7em; */
    /*     /\* border:1px solid #CCC; *\/ */
    /*     /\* border-radius:10px; *\/ */
    /*     /\* -moz-border-radius:10px; *\/ */
    /* } */
    /* .org-info-box img { */
    /*     float:left; */
    /*     margin:0em 0.5em 0em 0em; */
    /* } */
    /* .org-info-box p { */
    /*     margin:0em; */
    /*     padding:0em; */
    /* } */


    /* .builtin { */
    /*     /\* font-lock-builtin-face *\/ */
    /*     color: #f4a460; */
    /* } */
    /* .comment { */
    /*     /\* font-lock-comment-face *\/ */
    /*     color: #737373; */
    /* } */
    /* .comment-delimiter { */
    /*     /\* font-lock-comment-delimiter-face *\/ */
    /*     color: #666666; */
    /* } */
    /* .constant { */
    /*     /\* font-lock-constant-face *\/ */
    /*     color: #db7093; */
    /* } */
    /* .doc { */
    /*     /\* font-lock-doc-face *\/ */
    /*     color: #b3b3b3; */
    /* } */
    /* .function-name { */
    /*     /\* font-lock-function-name-face *\/ */
    /*     color: #5f9ea0; */
    /* } */
    /* .headline { */
    /*     /\* headline-face *\/ */
    /*     color: #ffffff; */
    /*     background-color: #000000; */
    /*     font-weight: bold; */
    /* } */
    /* .keyword { */
    /*     /\* font-lock-keyword-face *\/ */
    /*     color: #4682b4; */
    /* } */
    /* .negation-char { */
    /* } */
    /* .regexp-grouping-backslash { */
    /* } */
    /* .regexp-grouping-construct { */
    /* } */
    /* .string { */
    /*     /\* font-lock-string-face *\/ */
    /*     color: #ccc79a; */
    /* } */
    /* .todo-comment { */
    /*     /\* todo-comment-face *\/ */
    /*     color: #ffffff; */
    /*     background-color: #000000; */
    /*     font-weight: bold; */
    /* } */
    /* .variable-name { */
    /*     /\* font-lock-variable-name-face *\/ */
    /*     color: #ff6a6a; */
    /* } */
    /* .warning { */
    /*     /\* font-lock-warning-face *\/ */
    /*     color: #ffffff; */
    /*     background-color: #cd5c5c; */
    /*     font-weight: bold; */
    /* } */

    /* pre.a { */
    /*     color: inherit; */
    /*     background-color: inherit; */
    /*     font: inherit; */
    /*     text-decoration: inherit; */
    /* } */
    /* pre.a:hover { */
    /*     text-decoration: underline; */
    /* } */

    /* Styles for org-info.js */
    .org-info-js_info-navigation
    {
        border-style:none;
    }

    #org-info-js_console-label
    {
        font-size:10px;
        font-weight:bold;
        white-space:nowrap;
    }

    .org-info-js_search-highlight
    {
        background-color:#ffff00;
        color:#000000;
        font-weight:bold;
    }

    #org-info-js-window
    {
        border-bottom:1px solid black;
        padding-bottom:10px;
        margin-bottom:10px;
    }

    .org-info-search-highlight
    {
        background-color:#adefef;
        color:#000000;
        font-weight:bold;
    }

    .org-bbdb-company {
        font-style: italic;
    }

    .org-bbdb-field-name {
    }

    .org-bbdb-field-value {
    }

    .org-bbdb-name {
        text-decoration: underline;
    }

    .org-bold {
        font-weight: bold;
    }

    .org-bold-italic {
        font-weight: bold;
        font-style: italic;
    }

    .org-border {
        background-color: #000000;
    }

    .org-buffer-menu-buffer {
        font-weight: bold;
    }

    .org-builtin {
        color: #da70d6;
    }

    .org-button {
        text-decoration: underline;
    }

    .org-c-nonbreakable-space {
        background-color: #ff0000;
        font-weight: bold;
    }

    .org-calendar-today {
        text-decoration: underline;
    }

    .org-comment {
        color: #b22222;
    }

    .org-comment-delimiter {
        color: #b22222;
    }

    .org-constant {
        color: #5f9ea0;
    }

    .org-cursor {
        background-color: #000000;
    }

    .org-default {
        color: #000000;
        background-color: #ffffff;
    }

    .org-diary {
        color: #ff0000;
    }

    .org-doc {
        color: #bc8f8f;
    }

    .org-escape-glyph {
        color: #a52a2a;
    }

    .org-file-name-shadow {
        color: #7f7f7f;
    }

    .org-fixed-pitch {
    }

    .org-fringe {
        background-color: #f2f2f2;
    }

    .org-function-name {
        color: #0000ff;
    }

    .org-header-line {
        color: #333333;
        background-color: #e5e5e5;
    }

    .org-help-argument-name {
        font-style: italic;
    }

    .org-highlight {
        background-color: #b4eeb4;
    }

    .org-holiday {
        background-color: #ffc0cb;
    }

    .org-info-header-node {
        color: #a52a2a;
        font-weight: bold;
        font-style: italic;
    }

    .org-info-header-xref {
        color: #0000ff;
        text-decoration: underline;
    }

    .org-info-menu-header {
        font-weight: bold;
    }

    .org-info-menu-star {
        color: #ff0000;
    }

    .org-info-node {
        color: #a52a2a;
        font-weight: bold;
        font-style: italic;
    }

    .org-info-title-1 {
        font-size: 172%;
        font-weight: bold;
    }

    .org-info-title-2 {
        font-size: 144%;
        font-weight: bold;
    }

    .org-info-title-3 {
        font-size: 120%;
        font-weight: bold;
    }

    .org-info-title-4 {
        font-weight: bold;
    }

    .org-info-xref {
        color: #0000ff;
        text-decoration: underline;
    }

    .org-isearch {
        color: #b0e2ff;
        background-color: #cd00cd;
    }

    .org-italic {
        font-style: italic;
    }

    .org-keyword {
        color: #a020f0;
    }

    .org-lazy-highlight {
        background-color: #afeeee;
    }

    .org-link {
        color: #0000ff;
        text-decoration: underline;
    }

    .org-link-visited {
        color: #8b008b;
        text-decoration: underline;
    }

    .org-match {
        background-color: #ffff00;
    }

    .org-menu {
    }

    .org-message-cited-text {
        color: #ff0000;
    }

    .org-message-header-cc {
        color: #191970;
    }

    .org-message-header-name {
        color: #6495ed;
    }

    .org-message-header-newsgroups {
        color: #00008b;
        font-weight: bold;
        font-style: italic;
    }

    .org-message-header-other {
        color: #4682b4;
    }

    .org-message-header-subject {
        color: #000080;
        font-weight: bold;
    }

    .org-message-header-to {
        color: #191970;
        font-weight: bold;
    }

    .org-message-header-xheader {
        color: #0000ff;
    }

    .org-message-mml {
        color: #228b22;
    }

    .org-message-separator {
        color: #a52a2a;
    }

    .org-minibuffer-prompt {
        color: #0000cd;
    }

    .org-mm-uu-extract {
        color: #006400;
        background-color: #ffffe0;
    }

    .org-mode-line {
        color: #000000;
        background-color: #bfbfbf;
    }

    .org-mode-line-buffer-id {
        font-weight: bold;
    }

    .org-mode-line-highlight {
    }

    .org-mode-line-inactive {
        color: #333333;
        background-color: #e5e5e5;
    }

    .org-mouse {
        background-color: #000000;
    }

    .org-negation-char {
    }

    .org-next-error {
        background-color: #eedc82;
    }

    .org-nobreak-space {
        color: #a52a2a;
        text-decoration: underline;
    }

    .org-org-agenda-date {
        color: #0000ff;
    }

    .org-org-agenda-date-weekend {
        color: #0000ff;
        font-weight: bold;
    }

    .org-org-agenda-restriction-lock {
        background-color: #ffff00;
    }

    .org-org-agenda-structure {
        color: #0000ff;
    }

    .org-org-archived {
        color: #7f7f7f;
    }

    .org-org-code {
        color: #7f7f7f;
    }

    .org-org-column {
        background-color: #e5e5e5;
    }

    .org-org-column-title {
        background-color: #e5e5e5;
        font-weight: bold;
        text-decoration: underline;
    }

    .org-org-date {
        color: #a020f0;
        text-decoration: underline;
    }

    .org-org-done {
        color: #228b22;
        font-weight: bold;
    }

    .org-org-drawer {
        color: #0000ff;
    }

    .org-org-ellipsis {
        color: #b8860b;
        text-decoration: underline;
    }

    .org-org-formula {
        color: #b22222;
    }

    .org-org-headline-done {
        color: #bc8f8f;
    }

    .org-org-hide {
        color: #e5e5e5;
    }

    .org-org-latex-and-export-specials {
        color: #8b4513;
    }

    .org-org-level-1 {
        color: #0000ff;
    }

    .org-org-level-2 {
        color: #b8860b;
    }

    .org-org-level-3 {
        color: #a020f0;
    }

    .org-org-level-4 {
        color: #b22222;
    }

    .org-org-level-5 {
        color: #228b22;
    }

    .org-org-level-6 {
        color: #5f9ea0;
    }

    .org-org-level-7 {
        color: #da70d6;
    }

    .org-org-level-8 {
        color: #bc8f8f;
    }

    .org-org-link {
        color: #a020f0;
        text-decoration: underline;
    }

    .org-org-property-value {
    }

    .org-org-scheduled-previously {
        color: #b22222;
    }

    .org-org-scheduled-today {
        color: #006400;
    }

    .org-org-sexp-date {
        color: #a020f0;
    }

    .org-org-special-keyword {
        color: #bc8f8f;
    }

    .org-org-table {
        color: #0000ff;
    }

    .org-org-tag {
        font-weight: bold;
    }

    .org-org-target {
        text-decoration: underline;
    }

    .org-org-time-grid {
        color: #b8860b;
    }

    .org-org-todo {
        color: #ff0000;
    }

    .org-org-upcoming-deadline {
        color: #b22222;
    }

    .org-org-verbatim {
        color: #7f7f7f;
        text-decoration: underline;
    }

    .org-org-warning {
        color: #ff0000;
        font-weight: bold;
    }

    .org-outline-1 {
        color: #0000ff;
    }

    .org-outline-2 {
        color: #b8860b;
    }

    .org-outline-3 {
        color: #a020f0;
    }

    .org-outline-4 {
        color: #b22222;
    }

    .org-outline-5 {
        color: #228b22;
    }

    .org-outline-6 {
        color: #5f9ea0;
    }

    .org-outline-7 {
        color: #da70d6;
    }

    .org-outline-8 {
        color: #bc8f8f;
    }

    .outline-text-1,
    .outline-text-2,
    .outline-text-3,
    .outline-text-4,
    .outline-text-5,
    .outline-text-6 {
        /* Add more spacing between section. Padding, so that folding with */
        /* org-info.js works as expected. */
    }

    .org-preprocessor {
        color: #da70d6;
    }

    .org-query-replace {
        color: #b0e2ff;
        background-color: #cd00cd;
    }

    .org-regexp-grouping-backslash {
        font-weight: bold;
    }

    .org-regexp-grouping-construct {
        font-weight: bold;
    }

    .org-region {
        background-color: #eedc82;
    }

    .org-rmail-highlight {
    }

    .org-scroll-bar {
        background-color: #bfbfbf;
    }

    .org-secondary-selection {
        background-color: #ffff00;
    }

    .org-shadow {
        color: #7f7f7f;
    }

    .org-show-paren-match {
        background-color: #40e0d0;
    }

    .org-show-paren-mismatch {
        color: #ffffff;
        background-color: #a020f0;
    }

    .org-string {
        color: #bc8f8f;
    }

    .org-texinfo-heading {
        color: #0000ff;
    }

    .org-tool-bar {
        color: #000000;
        background-color: #bfbfbf;
    }

    .org-tooltip {
        color: #000000;
        background-color: #ffffe0;
    }

    .org-trailing-whitespace {
        background-color: #ff0000;
    }

    .org-type {
        color: #228b22;
    }

    .org-underline {
        text-decoration: underline;
    }

    .org-variable-name {
        color: #b8860b;
    }

    .org-variable-pitch {
    }

    .org-vertical-border {
    }

    .org-warning {
        color: #ff0000;
        font-weight: bold;
    }

    .rss_box {
    }

    .rss_title, rss_title a {
    }

    .rss_items {
    }

    .rss_item a:link,
    .rss_item a:visited,
    .rss_item a:active {
    }

    .rss_item a:hover {
    }

    .rss_date {
    }

    label.org-src-name {
        font-size: 80%;
        font-style: italic;
    }

    #show_source {
        margin: 0;
        padding: 0;
    }

    .org-dl dt {
        font-weight: bold;
        /* color: maroon; */
    }

} /* END OF @media all */
