[submodule "hugo/public"]
	path = hugo/public
	url = git@github.com:dschrempf/dschrempf.github.io.git
[submodule "hugo/themes/hyde-x"]
	path = hugo/themes/hyde-x
	url = git@github.com:dschrempf/hyde-x
